#root {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#quote-box {
  border-radius: 10px;
  padding: 50px;
  background-color: white;
  max-width: 80%;
}

#text {
  font-size: 1.2rem;
  font-weight: 600;
  text-align: justify;
}

#author {
  margin-top: 5px;
  font-style: italic;
  text-align: right;
}

#action-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 15px;
}

.icon-style {
  font-size: 1.5rem;
  margin-right: 10px;
}

button {
  font-size: 1rem;
  padding: 5px 15px;
  margin-left: auto;
  border: 1px solid black;
  border-radius: 2px;
}
